<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 cont">
      <div class="col-md-12 bg">
        <p>Attuali positivi</p>
        <span *ngFor="let dato of dati; last as last">
          <div *ngIf="last" class="totalePositivi">
            {{ dato.totale_positivi }}
          </div>
        </span>
        <div class="sub">
          <span class="totalePositivi" *ngFor="let dato of dati; last as last; index as i">
            <div *ngIf="last && (dato.totale_positivi - dati[i - 1].totale_positivi) >= 0">
              <p class="subtitolo">Incremento</p>
              {{ dato.totale_positivi - dati[i - 1].totale_positivi }}
              <span *ngIf="(dato.totale_positivi - dati[i - 1].totale_positivi - (dati[i - 1].totale_positivi - dati[i - 2].totale_positivi)) >= 0" style="font-size: 0.5em; color: lightgrey;">
                (+{{ dato.totale_positivi - dati[i - 1].totale_positivi - (dati[i - 1].totale_positivi - dati[i - 2].totale_positivi) }})
              </span>
              <span *ngIf="(dato.totale_positivi - dati[i - 1].totale_positivi - (dati[i - 1].totale_positivi - dati[i - 2].totale_positivi)) < 0" style="font-size: 0.5em; color: lightgrey;">
                ({{ dato.totale_positivi - dati[i - 1].totale_positivi - (dati[i - 1].totale_positivi - dati[i - 2].totale_positivi) }})
              </span>
            </div>
            <div *ngIf="last && (dato.totale_positivi - dati[i - 1].totale_positivi) < 0">
              <p class="subtitolo">Decremento</p>
              {{ dato.totale_positivi - dati[i - 1].totale_positivi }}
              <span *ngIf="(dato.totale_positivi - dati[i - 1].totale_positivi - (dati[i - 1].totale_positivi - dati[i - 2].totale_positivi)) >= 0" style="font-size: 0.5em; color: lightgrey;">
                (+{{ dato.totale_positivi - dati[i - 1].totale_positivi - (dati[i - 1].totale_positivi - dati[i - 2].totale_positivi) }})
              </span>
              <span *ngIf="(dato.totale_positivi - dati[i - 1].totale_positivi - (dati[i - 1].totale_positivi - dati[i - 2].totale_positivi)) < 0" style="font-size: 0.5em; color: lightgrey;">
                ({{ dato.totale_positivi - dati[i - 1].totale_positivi - (dati[i - 1].totale_positivi - dati[i - 2].totale_positivi) }})
              </span>
            </div>
          </span>
        </div>
      </div>
    </div>

    <div class="col-md-3 cont">
      <div class="col-md-12 bg">
        <p>Dimessi guariti</p>
        <span *ngFor="let dato of dati; last as last">
          <div *ngIf="last" class="guariti">
            {{ dato.dimessi_guariti }}
          </div>
        </span>
        <div class="sub">
          <span class="guariti" *ngFor="let dato of dati; last as last; index as i">
            <div *ngIf="last && (dato.dimessi_guariti - dati[i - 1].dimessi_guariti) >= 0">
              <p class="subtitolo">Incremento</p>
              {{ dato.dimessi_guariti - dati[i - 1].dimessi_guariti }}
              <span *ngIf="(dato.dimessi_guariti - dati[i - 1].dimessi_guariti - (dati[i - 1].dimessi_guariti - dati[i - 2].dimessi_guariti)) >= 0" style="font-size: 0.5em; color: lightgrey;">
                (+{{ dato.dimessi_guariti - dati[i - 1].dimessi_guariti - (dati[i - 1].dimessi_guariti - dati[i - 2].dimessi_guariti) }})
              </span>
              <span *ngIf="(dato.dimessi_guariti - dati[i - 1].dimessi_guariti - (dati[i - 1].dimessi_guariti - dati[i - 2].dimessi_guariti)) < 0" style="font-size: 0.5em; color: lightgrey;">
                ({{ dato.dimessi_guariti - dati[i - 1].dimessi_guariti - (dati[i - 1].dimessi_guariti - dati[i - 2].dimessi_guariti) }})
              </span>
            </div>
            <div *ngIf="last && (dato.dimessi_guariti - dati[i - 1].dimessi_guariti) < 0">
              <p class="subtitolo">Decremento</p>
              {{ dato.dimessi_guariti - dati[i - 1].dimessi_guariti }}
              <span *ngIf="(dato.dimessi_guariti - dati[i - 1].dimessi_guariti - (dati[i - 1].dimessi_guariti - dati[i - 2].dimessi_guariti)) >= 0" style="font-size: 0.5em; color: lightgrey;">
                (+{{ dato.dimessi_guariti - dati[i - 1].dimessi_guariti - (dati[i - 1].dimessi_guariti - dati[i - 2].dimessi_guariti) }})
              </span>
              <span *ngIf="(dato.dimessi_guariti - dati[i - 1].dimessi_guariti - (dati[i - 1].dimessi_guariti - dati[i - 2].dimessi_guariti)) < 0" style="font-size: 0.5em; color: lightgrey;">
                ({{ dato.dimessi_guariti - dati[i - 1].dimessi_guariti - (dati[i - 1].dimessi_guariti - dati[i - 2].dimessi_guariti) }})
              </span>
            </div>
          </span>
        </div>
      </div>
    </div>

    <div class="col-md-3 cont">
      <div class="col-md-12 bg">
        <p>Deceduti</p>
        <span *ngFor="let dato of dati; last as last">
          <div *ngIf="last" class="deceduti">
            {{ dato.deceduti }}
          </div>
        </span>
        <div class="sub">
          <span class="deceduti" *ngFor="let dato of dati; last as last; index as i">
            <div *ngIf="last && (dato.deceduti - dati[i - 1].deceduti) >= 0">
              <p class="subtitolo">Incremento</p>
              {{ dato.deceduti - dati[i - 1].deceduti }}
              <span *ngIf="(dato.deceduti - dati[i - 1].deceduti - (dati[i - 1].deceduti - dati[i - 2].deceduti)) >= 0" style="font-size: 0.5em; color: lightgrey;">
                (+{{ dato.deceduti - dati[i - 1].deceduti - (dati[i - 1].deceduti - dati[i - 2].deceduti) }})
              </span>
              <span *ngIf="(dato.deceduti - dati[i - 1].deceduti - (dati[i - 1].deceduti - dati[i - 2].deceduti)) < 0" style="font-size: 0.5em; color: lightgrey;">
                ({{ dato.deceduti - dati[i - 1].deceduti - (dati[i - 1].deceduti - dati[i - 2].deceduti) }})
              </span>
            </div>
            <div *ngIf="last && (dato.deceduti - dati[i - 1].deceduti) < 0">
              <p class="subtitolo">Decremento</p>
              {{ dato.deceduti - dati[i - 1].deceduti }}
              <span *ngIf="(dato.deceduti - dati[i - 1].deceduti - (dati[i - 1].deceduti - dati[i - 2].deceduti)) >= 0" style="font-size: 0.5em; color: lightgrey;">
                (+{{ dato.deceduti - dati[i - 1].deceduti - (dati[i - 1].deceduti - dati[i - 2].deceduti) }})
              </span>
              <span *ngIf="(dato.deceduti - dati[i - 1].deceduti - (dati[i - 1].deceduti - dati[i - 2].deceduti)) < 0" style="font-size: 0.5em; color: lightgrey;">
                ({{ dato.deceduti - dati[i - 1].deceduti - (dati[i - 1].deceduti - dati[i - 2].deceduti) }})
              </span>
            </div>
          </span>
        </div>
      </div>
    </div>

    <div class="col-md-3 cont">
      <div class="col-md-12 bg">
        <p>Totale casi</p>
        <span *ngFor="let dato of dati; last as last">
          <div *ngIf="last" class="totaleCasi">
            {{ dato.totale_casi }}
          </div>
        </span>
        <div class="sub">
          <span class="totaleCasi" *ngFor="let dato of dati; last as last; index as i">
            <div *ngIf="last && (dato.totale_casi - dati[i - 1].totale_casi) >= 0">
              <p class="subtitolo">Incremento</p>
              {{ dato.totale_casi - dati[i - 1].totale_casi }}
              <span *ngIf="(dato.totale_casi - dati[i - 1].totale_casi - (dati[i - 1].totale_casi - dati[i - 2].totale_casi)) >= 0" style="font-size: 0.5em; color: lightgrey;">
                (+{{ dato.totale_casi - dati[i - 1].totale_casi - (dati[i - 1].totale_casi - dati[i - 2].totale_casi) }})
              </span>
              <span *ngIf="(dato.totale_casi - dati[i - 1].totale_casi - (dati[i - 1].totale_casi - dati[i - 2].totale_casi)) < 0" style="font-size: 0.5em; color: lightgrey;">
                ({{ dato.totale_casi - dati[i - 1].totale_casi - (dati[i - 1].totale_casi - dati[i - 2].totale_casi) }})
              </span>
            </div>
            <div *ngIf="last && (dato.totale_casi - dati[i - 1].totale_casi) < 0">
              <p class="subtitolo">Decremento</p>
              {{ dato.totale_casi - dati[i - 1].totale_casi }}
              <span *ngIf="(dato.totale_casi - dati[i - 1].totale_casi - (dati[i - 1].totale_casi - dati[i - 2].totale_casi)) >= 0" style="font-size: 0.5em; color: lightgrey;">
                (+{{ dato.totale_casi - dati[i - 1].totale_casi - (dati[i - 1].totale_casi - dati[i - 2].totale_casi) }})
              </span>
              <span *ngIf="(dato.totale_casi - dati[i - 1].totale_casi - (dati[i - 1].totale_casi - dati[i - 2].totale_casi)) < 0" style="font-size: 0.5em; color: lightgrey;">
                ({{ dato.totale_casi - dati[i - 1].totale_casi - (dati[i - 1].totale_casi - dati[i - 2].totale_casi) }})
              </span>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="col-md-12 fisso">
        <table class="table table-dark">
          <thead>
            <tr>
              <th>Regione</th>
              <th>Casi totali</th>
              <th>Casi attuali</th>
              <th>Incremento</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let reg of regione | sort: 'desc': 'totale_casi'">
              <td>{{ reg.denominazione_regione}}</td>
              <td style="color: red">{{ reg.totale_casi}}</td>
              <td style="color: rgb(255, 170, 0)">{{ reg.totale_positivi}}</td>
              <td style="color: lightgrey">{{ reg.nuovi_positivi}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="col-md-12 fisso">
        <table class="table table-dark">
          <thead>
            <tr>
              <th>Provincia</th>
              <th>Casi totali</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let prov of province | sort: 'desc': 'totale_casi'">
              <td>{{ prov.denominazione_provincia}}</td>
              <td style="color: red">{{ prov.totale_casi}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div> 
</div>